//Toutes les variables
/*colors*/
$deep-yellow: #f0970b;
$deep-blue: #047373;
$yellow: #F1C817;
$smooth-blue: #267e9e;
$dark: #101010;

/*typographies*/
$font-primary: 'Dancing Script', cursive, 'Bebas Neue', sans-serif;
$font-secondary: 'Poppins', sans-serif;

/*Temoignages variables*/
$card-width: 350px;
$card-width-mobile: 280px;
$card-spacing: 400px;
$card-spacing-mobile: 250px;
$transition-smooth: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
$transition-normal: all 0.3s ease;

/*footer variables*/
$color-primary: $yellow; // Jaune doré
$color-background: $dark; // Noir
$color-border: #333;
$max-width: 1200px;
$spacing-small: 0.8rem;
$spacing-medium: 1.2rem;
$spacing-large: 2rem;
$spacing-xlarge: 3rem;